body{
    background-image: url(Assets/bgimage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: center;
    text-align: center;
}
.heading1{
    color: beige;
    text-shadow: 0px 0px 8px rgb(182, 180, 180);
    font-size: 40px;
}
.playbox{
    margin: 100px auto;
    border-radius: 15px;
    max-width: 350px;
}
.btns{
    display: flex;
    justify-content: center;
    text-align: center;
}
.playGame, .showHistory{
    border-radius: 35px;
    padding: 15px;
    margin: 15px;
    border: none;
    width: 100%;
    font-size: medium;
    color: rgb(36, 87, 217);
}
.playGame a, .showHistory a{
    text-decoration: none;
    color: rgb(36, 87, 217);
}
.playGame:hover, .showHistory:hover{
    cursor: pointer;
    background-color: rgb(194, 225, 246);
    color: rgb(10, 136, 214);
    transition: 0.3s;
}